<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD SQL Map Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <settings>
        <setting name="cacheEnabled" value="false"/>
        <setting name="defaultExecutorType" value="REUSE" />
        <setting name="useGeneratedKeys" value="true" />
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.ta.framework.util.ListTypeHandler"
                   alias="ListTypeHandler"/>
        <typeAlias type="com.ta.framework.util.DateTimeTypeHandler"
                   alias="DateTimeTypeHandler"/>
    </typeAliases>

    <typeHandlers>
        <typeHandler jdbcType="VARCHAR" javaType="list"
                     handler="com.ta.framework.util.ListTypeHandler"/>
        <typeHandler jdbcType="VARCHAR" javaType="org.joda.time.DateTime"
                     handler="com.ta.framework.util.DateTimeTypeHandler"/>
    </typeHandlers>

</configuration>
