<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ta.framework.dao.CommodityDao">
    <resultMap id="resultMap" type="com.ta.framework.entity.Commodity">
        <id column="CommodityId" property="commodityId"></id>
        <result column="CommodityName" property="commodityName"></result>
        <result column="CommodityState" property="commodityState"></result>
        <result column="CommodityPrice" property="commodityPrice"></result>
        <result column="CommodityRemark" property="commodityRemark"></result>
        <result column="CreateTime" property="createTime"></result>
        <result column="EndTime" property="endTime"></result>
        <result column="HotNum" property="hotNum"></result>
        <result column="CommodityPicIdList" property="commodityPicIdList" typeHandler="ListTypeHandler"></result>
        <association column="StoreId" property="store" javaType="com.ta.framework.entity.Store"
                     select="com.ta.framework.dao.StoreDao.selectById"/>
        <association column="DiscountAcId" property="discountAc" javaType="com.ta.framework.entity.Activity"
                     select="com.ta.framework.dao.ActivityDao.selectById"/>
        <association column="OtherAcId" property="otherAc" javaType="com.ta.framework.entity.Activity"
                     select="com.ta.framework.dao.ActivityDao.selectById"/>
    </resultMap>

    <sql id="all_column">
        CommodityId,
        CommodityName,
        CommodityState,
        CommodityPrice,
        CommodityRemark,
        CreateTime,
        EndTime,
        HotNum,
        CommodityPicIdList,
        StoreId,
        DiscountAcId,
        OtherAcId
    </sql>

    <insert id="insert" useGeneratedKeys="true" keyProperty="pojo.commodityId" parameterType="com.ta.framework.entity.Commodity">
        insert into Commodity
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.commodityId != null"> CommodityId, </if>
            <if test="pojo.commodityName != null"> CommodityName, </if>
            <if test="pojo.commodityState != null"> CommodityState, </if>
            <if test="pojo.commodityPrice != null"> CommodityPrice, </if>
            <if test="pojo.commodityRemark != null"> CommodityRemark, </if>
            <if test="pojo.createTime != null"> CreateTime, </if>
            <if test="pojo.endTime != null"> EndTime, </if>
            <if test="pojo.hotNum != null"> HotNum, </if>
            <if test="pojo.commodityPicIdList != null"> CommodityPicIdList, </if>
            <if test="pojo.store != null and pojo.store.storeId != null"> StoreId, </if>
            <if test="pojo.discountAc != null and pojo.discountAc.activityId != null"> DiscountAcId, </if>
            <if test="pojo.otherAc != null and pojo.otherAc.activityId != null"> OtherAcId, </if>
        </trim>
        values
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="pojo.commodityId != null"> #{pojo.commodityId}, </if>
            <if test="pojo.commodityName != null"> #{pojo.commodityName}, </if>
            <if test="pojo.commodityState != null"> #{pojo.commodityState}, </if>
            <if test="pojo.commodityPrice != null"> #{pojo.commodityPrice}, </if>
            <if test="pojo.commodityRemark != null"> #{pojo.commodityRemark}, </if>
            <if test="pojo.createTime != null"> #{pojo.createTime}, </if>
            <if test="pojo.endTime != null"> #{pojo.endTime}, </if>
            <if test="pojo.hotNum != null"> #{pojo.hotNum}, </if>
            <if test="pojo.commodityPicIdList != null"> #{pojo.commodityPicIdList,typeHandler=ListTypeHandler}, </if>
            <if test="pojo.store != null and pojo.store.storeId != null">  #{pojo.store.storeId}, </if>
            <if test="pojo.discountAc != null and pojo.discountAc.activityId != null"> #{pojo.discountAc.activityId}, </if>
            <if test="pojo.otherAc != null and pojo.otherAc.activityId != null"> #{pojo.otherAc.activityId}, </if>
        </trim>
    </insert>

    <update id="update">
        UPDATE Commodity
        <trim prefix="SET" suffixOverrides="," >
            <if test="pojo.commodityName != null"> CommodityName = #{pojo.commodityName}, </if>
            <if test="pojo.commodityState != null"> CommodityState = #{pojo.commodityState}, </if>
            <if test="pojo.commodityPrice != null"> CommodityPrice = #{pojo.commodityPrice}, </if>
            <if test="pojo.commodityRemark != null">  CommodityRemark = #{pojo.commodityRemark}, </if>
            <if test="pojo.createTime != null"> CreateTime = #{pojo.createTime}, </if>
            <if test="pojo.endTime != null"> EndTime = #{pojo.endTime}, </if>
            <if test="pojo.hotNum != null"> HotNum = #{pojo.hotNum}, </if>
            <if test="pojo.commodityPicIdList != null"> CommodityPicIdList = #{pojo.commodityPicIdList,typeHandler=ListTypeHandler}, </if>
            <if test="pojo.store != null and pojo.store.storeId != null"> StoreId = #{pojo.store.storeId}, </if>
            <if test="pojo.discountAc != null and pojo.discountAc.activityId != null"> DiscountAcId = #{pojo.discountAc.activityId}, </if>
            <if test="pojo.otherAc != null and pojo.otherAc.activityId != null"> OtherAcId = #{pojo.otherAc.activityId}, </if>
        </trim>
        WHERE CommodityId = #{pojo.commodityId}
    </update>

    <delete id="delete">
        DELETE FROM Commodity
        WHERE CommodityId = #{pojo.CommodityId}
    </delete>

    <select id="select" resultMap="resultMap">
        SELECT <include refid="all_column" />
        FROM Commodity
        <where>
            <if test="pojo.commodityId != null"> AND CommodityId = #{pojo.commodityId} </if>
            <if test="pojo.commodityName != null"> AND CommodityName = #{pojo.commodityName} </if>
            <if test="pojo.commodityState != null"> AND CommodityState = #{pojo.commodityState} </if>
            <if test="pojo.commodityPrice != null"> AND CommodityPrice &gt;= #{pojo.startPirce} AND CommodityPrice &lt;= #{pojo.endPirce}</if>
            <if test="pojo.commodityRemark != null"> AND CommodityRemark = #{pojo.commodityRemark} </if>
            <if test="pojo.createTime != null"> AND CreateTime = #{pojo.createTime} </if>
            <if test="pojo.endTime != null"> AND EndTime = #{pojo.endTime} </if>
            <if test="pojo.hotNum != null"> AND HotNum = #{pojo.hotNum} </if>
            <if test="pojo.commodityPicIdList != null">AND CommodityPicIdList = #{pojo.commodityPicIdList,typeHandler=ListTypeHandler} </if>
            <if test="pojo.store != null and pojo.store.storeId != null"> AND StoreId = #{pojo.store.storeId} </if>
            <if test="pojo.discountAc != null and pojo.discountAcId != null">AND DiscountAcId = #{pojo.discountAc.activityId} </if>
            <if test="pojo.otherAc != null and pojo.otherAcId != null">AND OtherAcId = #{pojo.otherAc.activityId} </if>
        </where>
    </select>

    <select id="selectById" resultMap="resultMap" parameterType="int">
        SELECT <include refid="all_column" />
        FROM Commodity
        WHERE CommodityId = #{id}
    </select>

    <select id="selectByPage" resultMap="resultMap" parameterType="com.ta.framework.entity.Dto.Page">
        SELECT <include refid="all_column" />
        FROM Commodity
        <where>
            <if test="page.condition != null">
                <if test="page.condition.commodityId != null"> AND CommodityId = #{page.condition.commodityId} </if>
                <if test="page.condition.commodityName != null"> AND CommodityName LIKE CONCAT("%", #{page.condition.commodityName},"%" ) </if>
                <if test="page.condition.commodityState != null"> AND CommodityState = #{page.condition.commodityState} </if>
                <if test="page.condition.commodityPrice != null"> AND CommodityPrice &gt;= #{page.condition.startPirce} AND CommodityPrice &lt;= #{page.condition.endPirce}</if>
                <if test="page.condition.commodityRemark != null"> AND CommodityRemark = #{page.condition.commodityRemark} </if>
                <if test="page.condition.createTime != null"> AND CreateTime = #{page.condition.createTime.typeHandler=DateTimeTypeHandler} </if>
                <if test="page.condition.endTime != null"> AND EndTime = #{page.condition.endTime} </if>
                <if test="page.condition.hotNum != null"> AND HotNum = #{page.condition.hotNum} </if>
                <if test="page.condition.commodityPicIdList != null">AND CommodityPicIdList = #{page.condition.commodityPicIdList,typeHandler=ListTypeHandler} </if>
                <if test="page.condition.store != null and page.condition.store.storeId != null"> AND StoreId = #{page.condition.store.storeId} </if>
                <if test="page.condition.discountAc != null and page.condition.discountAc.activityId != null"> AND DiscountAcId = #{page.condition.discountAc.activityId }</if>
                <if test="page.condition.otherAc != null and page.condition.otherAc.activityId != null"> AND OtherAcId = #{page.condition.otherAc.activityId } </if>
            </if>
        </where>
        ORDER BY CommodityId DESC
        LIMIT #{page.startIndex}, #{page.pageSize}
    </select>

    <select id="countByPage" resultType="int" parameterType="com.ta.framework.entity.Dto.Page">
        SELECT count(0)
        FROM Commodity
        <where>
            <if test="page.condition != null">
                <if test="page.condition.commodityId != null"> AND CommodityId = #{page.condition.commodityId} </if>
                <if test="page.condition.commodityName != null"> AND CommodityName LIKE CONCAT("%", #{page.condition.commodityName},"%" )  </if>
                <if test="page.condition.commodityState != null"> AND CommodityState = #{page.condition.commodityState} </if>
                <if test="page.condition.commodityPrice != null"> AND CommodityPrice &gt;= #{page.condition.startPirce} AND CommodityPrice &lt;= #{page.condition.endPirce}</if>
                <if test="page.condition.commodityRemark != null"> AND CommodityRemark = #{page.condition.commodityRemark} </if>
                <if test="page.condition.createTime != null"> AND CreateTime = #{page.condition.createTime} </if>
                <if test="page.condition.endTime != null"> AND EndTime = #{page.condition.endTime} </if>
                <if test="page.condition.hotNum != null"> AND HotNum = #{page.condition.hotNum} </if>
                <if test="page.condition.commodityPicIdList != null">AND CommodityPicIdList = #{page.condition.commodityPicIdList,typeHandler=ListTypeHandler} </if>
                <if test="page.condition.store != null and page.condition.store.storeId != null"> AND StoreId = #{page.condition.store.storeId} </if>
                <if test="page.condition.discountAc != null and page.condition.discountAc.activityId != null"> AND DiscountAcId = #{page.condition.discountAc.activityId } </if>
                <if test="page.condition.otherAc != null and page.condition.otherAc.activityId != null"> AND OtherAcId = #{page.condition.otherAc.activityId } </if>

            </if>
        </where>
    </select>

    <select id="commoditySum" resultType="int">
        select COUNT(0)
        FROM Commodity
        where CommodityState = 1
    </select>

    <select id="hotSearch" resultMap="resultMap" parameterType="com.ta.framework.entity.Store">
        select <include refid="all_column" />
        FROM Commodity
        WHERE
        CommodityState =1
            <if test="pojo.storeId != null"> AND StoreId = #{pojo.storeId} </if>

        ORDER BY HotNum DESC
        LIMIT 0, 4
    </select>

    <select id="sameName" resultMap="resultMap" parameterType="com.ta.framework.entity.Commodity">
        select <include refid="all_column" />
        FROM Commodity
        WHERE
        CommodityState =1
            <if test="pojo.commodityId != null"> AND CommodityId != #{pojo.commodityId}</if>
            <if test="pojo.commodityName != null"> AND CommodityName LIKE CONCAT("%",#{pojo.commodityName},"%") AND CommodityState =1</if>


    </select>
</mapper>